<!DOCTYPE html>
<html>
<head>
  <title>TDD</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="title">
    <h1>Todo Doing Done</h1>
  </div>
  <h2>タスク一覧</h2>
  <%= form_for @task, :url => {:action => :create} do |f| %>
    <%= f.label :title, "新規作成：" %>
    <%= f.text_field :title , style: 'background-color: Aquamarine' %>
    <%= f.hidden_field :project_id, :value => @id %>
    <%= f.submit "作成" %>
<% end %>

<nav>
  <ul>
    <% @tasks.each do |task| %>
      <%= form_for @task, :url => request.fullpath+'/delete' do |f| %>
        <li><input type="checkbox" name="" value=""><%= task.title %>
          <%= f.hidden_field :id, :value => task.id %>
          <%= f.submit "削除"%>
          <%= f.submit "完了！"%>
        </li>
      <% end %>
    <% end %>
</ul>
</nav>

  <%=link_to 'プロジェクト一覧に戻る', projects_path %>
</body>
</html>
